## Try to generate fake data

In [71]:
!pip install Faker

Requirement already satisfied: Faker in /Users/gracebrickley/opt/anaconda3/lib/python3.8/site-packages (13.2.0)
Requirement already satisfied: python-dateutil>=2.4 in /Users/gracebrickley/opt/anaconda3/lib/python3.8/site-packages (from Faker) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/gracebrickley/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [74]:
import pandas as pd 
from faker import Faker

generateProfile = Faker()

# generate 1000 profiles 
data = [generateProfile.simple_profile() for i in range(1000)]

# save profiles in pandas dataframe
df = pd.DataFrame(data)

print(df)

            username              name sex  \
0        barneslarry       Ashley Ruiz   F
1          brandon76       Jason Lyons   M
2    santiagomatthew     Michael Sharp   M
3          rpeterson    Megan Gonzalez   F
4        brownbonnie  Monica Nicholson   F
..               ...               ...  ..
995       jennifer43    Robert Griffin   M
996         nicole19      Marie Thomas   F
997           inunez     Clinton Kelly   M
998         amanda92      Timothy Khan   M
999      riddlejason    Annette Conway   F

                                               address  \
0                     Unit 9018 Box 7407\nDPO AA 40063
1               08417 Becky Inlet\nPort Chad, NC 37378
2                     Unit 1931 Box 0140\nDPO AA 79164
3           87996 Duane Drive\nPort Jennifer, ND 93729
4              437 Cooke Groves\nWatkinsfort, MA 21577
..                                                 ...
995        8191 Martin Light\nNorth Lisafort, NY 29669
996  095 Johnson Locks Suite 016\nLauriefort, NC 62026
997  0668 Wood Heights Suite 826\nEast Nicholashave...
998  586 Richardson Ranch Apt. 086\nBurnettfort, IL...
999       48753 Jerry Ranch\nPort Joycemouth, NE 88723

                              mail   birthdate
0     villarrealbenjamin@yahoo.com  1983-12-11
1              ncantrell@yahoo.com  1992-05-04
2       jenniferzuniga@hotmail.com  2018-07-14
3                 ggiles@yahoo.com  1969-04-14
4                 paul44@yahoo.com  1934-12-08
..                             ...         ...
995         lopezmichael@yahoo.com  2017-02-06
996              scannon@yahoo.com  1907-09-24
997           jessicakey@yahoo.com  1993-07-29
998  christophermartinez@gmail.com  1946-05-01
999               kdavis@yahoo.com  1921-12-19

[1000 rows x 6 columns]

In [75]:
middle_schools = ['Burley Middle School', 'Henley Middle School', 'Jouett Middle School', 'Lakeside Middle School', 'Walton Middle School']
races = ['Asian', 'Black/African American', 'White', 'Hispanic', 'Multi-racial']

In [76]:
from faker import Faker
import pandas as pd

class User(object):
    f = Faker()
    def __init__(self, age1, age2):
        self.first_name    = User.f.first_name()
        self.last_name     = User.f.last_name()
        self.name          = "{} {}".format(self.first_name, self.last_name)
        self.age           = User.f.pyint(min_value=age1, max_value=age2)
        self.race          = random.choices(races, weights=[.05, .11, .65, .13, .06])[0]
        self.ELLStatus     = random.choices(['Yes', 'No'], weights=[.1, .9])[0]

        
#data = [User().__dict__ for i in range(100)]
df = pd.DataFrame(data)

df.head()

,username,name,sex,address,mail,birthdate
0,barneslarry,Ashley Ruiz,F,Unit 9018 Box 7407\nDPO AA 40063,villarrealbenjamin@yahoo.com,1983-12-11
1,brandon76,Jason Lyons,M,"08417 Becky Inlet\nPort Chad, NC 37378",ncantrell@yahoo.com,1992-05-04
2,santiagomatthew,Michael Sharp,M,Unit 1931 Box 0140\nDPO AA 79164,jenniferzuniga@hotmail.com,2018-07-14
3,rpeterson,Megan Gonzalez,F,"87996 Duane Drive\nPort Jennifer, ND 93729",ggiles@yahoo.com,1969-04-14
4,brownbonnie,Monica Nicholson,F,"437 Cooke Groves\nWatkinsfort, MA 21577",paul44@yahoo.com,1934-12-08

In [77]:
import random

sixthCourses = ['Language Arts', 'Social Studies', 'Health/Physical Education', 'Mathematics', 'Science']
seventhCourses = ['Language Arts', 'Social Studies', 'Health/Physical Education', 'Mathematics', 'Life Science']
eighthCourses = ['Language Arts', 'Social Studies', 'Health/Physical Education', 'Mathematics', 'Physical Science']

def generate_data(df, grade, school, subject, year):
    f = Faker()
    teacher_list = []
    for i in range(0, 3):
        teacher_first  = f.first_name()
        teacher_last = f.last_name()
        teacher  = "{} {}".format(teacher_first, teacher_last)
        teacher_list.append(teacher)
    
    df['grade'] = grade
    df['school'] = school
    df['subject'] = subject
    df['teacher'] = [random.choice(teacher_list) for i in range(0, len(df))]
    df['year'] = year
    #race = random.choices(races, weights=[.05, .11, .65, .13, .06])[0]
    #print(race)
    #df['race'] = race
    

generate_data(df, 6, 'Burley', 'English', 2019)
df

,username,name,sex,address,mail,birthdate,grade,school,subject,teacher,year
0,barneslarry,Ashley Ruiz,F,Unit 9018 Box 7407\nDPO AA 40063,villarrealbenjamin@yahoo.com,1983-12-11,6,Burley,English,Hayden Bean,2019
1,brandon76,Jason Lyons,M,"08417 Becky Inlet\nPort Chad, NC 37378",ncantrell@yahoo.com,1992-05-04,6,Burley,English,Hannah Brown,2019
2,santiagomatthew,Michael Sharp,M,Unit 1931 Box 0140\nDPO AA 79164,jenniferzuniga@hotmail.com,2018-07-14,6,Burley,English,Hayden Bean,2019
3,rpeterson,Megan Gonzalez,F,"87996 Duane Drive\nPort Jennifer, ND 93729",ggiles@yahoo.com,1969-04-14,6,Burley,English,Hayden Bean,2019
4,brownbonnie,Monica Nicholson,F,"437 Cooke Groves\nWatkinsfort, MA 21577",paul44@yahoo.com,1934-12-08,6,Burley,English,Christian Wilson,2019
...,...,...,...,...,...,...,...,...,...,...,...
995,jennifer43,Robert Griffin,M,"8191 Martin Light\nNorth Lisafort, NY 29669",lopezmichael@yahoo.com,2017-02-06,6,Burley,English,Hannah Brown,2019
996,nicole19,Marie Thomas,F,"095 Johnson Locks Suite 016\nLauriefort, NC 62026",scannon@yahoo.com,1907-09-24,6,Burley,English,Hannah Brown,2019
997,inunez,Clinton Kelly,M,0668 Wood Heights Suite 826\nEast Nicholashave...,jessicakey@yahoo.com,1993-07-29,6,Burley,English,Hannah Brown,2019
998,amanda92,Timothy Khan,M,"586 Richardson Ranch Apt. 086\nBurnettfort, IL...",christophermartinez@gmail.com,1946-05-01,6,Burley,English,Christian Wilson,2019
999,riddlejason,Annette Conway,F,"48753 Jerry Ranch\nPort Joycemouth, NE 88723",kdavis@yahoo.com,1921-12-19,6,Burley,English,Christian Wilson,2019

In [78]:
df.teacher.value_counts()

Hannah Brown        338
Hayden Bean         337
Christian Wilson    325
Name: teacher, dtype: int64

## Student Data

In [79]:
sixth_df = pd.DataFrame()

for school in middle_schools:
    for course in sixthCourses:
        data = [User(10, 12).__dict__ for i in range(100)]
        temp_df = pd.DataFrame(data)
        generate_data(temp_df, 6, school, course, 2019)
        #print(temp_df)
        sixth_df = sixth_df.append(temp_df)

sixth_df['studentID'] = range(1,2501)
sixth_df

,first_name,last_name,name,age,race,ELLStatus,grade,school,subject,teacher,year,studentID
0,Amanda,Anderson,Amanda Anderson,11,White,Yes,6,Burley Middle School,Language Arts,Roger Williams,2019,1
1,Michael,Wallace,Michael Wallace,12,White,No,6,Burley Middle School,Language Arts,Roger Williams,2019,2
2,Donald,Hill,Donald Hill,11,White,No,6,Burley Middle School,Language Arts,Joshua Moore,2019,3
3,Kenneth,Davis,Kenneth Davis,12,White,No,6,Burley Middle School,Language Arts,Roger Williams,2019,4
4,Brianna,Fisher,Brianna Fisher,11,White,Yes,6,Burley Middle School,Language Arts,Renee Harrison,2019,5
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sarah,Williamson,Sarah Williamson,11,White,No,6,Walton Middle School,Science,Zachary Nichols,2019,2496
96,James,Hill,James Hill,11,Asian,Yes,6,Walton Middle School,Science,Jennifer Myers,2019,2497
97,Jonathan,Lopez,Jonathan Lopez,10,White,Yes,6,Walton Middle School,Science,Aaron Strickland,2019,2498
98,George,Barnes,George Barnes,12,White,No,6,Walton Middle School,Science,Aaron Strickland,2019,2499
99,Sarah,Lewis,Sarah Lewis,10,White,No,6,Walton Middle School,Science,Jennifer Myers,2019,2500

In [80]:
seventh_df = pd.DataFrame()

for school in middle_schools:
    for course in seventhCourses:
        data = [User(11, 13).__dict__ for i in range(100)]
        temp_df = pd.DataFrame(data)
        generate_data(temp_df, 7, school, course, 2019)
        #print(temp_df)
        seventh_df = seventh_df.append(temp_df)

seventh_df['studentID'] = range(2501,5001)
seventh_df

,first_name,last_name,name,age,race,ELLStatus,grade,school,subject,teacher,year,studentID
0,Courtney,Olson,Courtney Olson,13,White,No,7,Burley Middle School,Language Arts,Timothy Pugh,2019,2501
1,Tammy,Riley,Tammy Riley,13,White,No,7,Burley Middle School,Language Arts,Maria Molina,2019,2502
2,Mary,Griffith,Mary Griffith,11,White,No,7,Burley Middle School,Language Arts,Maria Molina,2019,2503
3,Alyssa,Brock,Alyssa Brock,11,Asian,No,7,Burley Middle School,Language Arts,Maria Molina,2019,2504
4,John,Pena,John Pena,12,White,No,7,Burley Middle School,Language Arts,Rachel Cohen,2019,2505
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Michelle,Moore,Michelle Moore,12,Black/African American,Yes,7,Walton Middle School,Life Science,Jennifer Lucas,2019,4996
96,Ronald,Allen,Ronald Allen,11,Multi-racial,No,7,Walton Middle School,Life Science,Joshua Nelson,2019,4997
97,Anna,Pace,Anna Pace,13,White,No,7,Walton Middle School,Life Science,Corey Bennett,2019,4998
98,Brian,Hodges,Brian Hodges,12,White,No,7,Walton Middle School,Life Science,Jennifer Lucas,2019,4999
99,Alexis,Pope,Alexis Pope,12,White,No,7,Walton Middle School,Life Science,Jennifer Lucas,2019,5000

In [81]:
eighth_df = pd.DataFrame()

for school in middle_schools:
    for course in eighthCourses:
        data = [User(12, 14).__dict__ for i in range(100)]
        temp_df = pd.DataFrame(data)
        generate_data(temp_df, 8, school, course, 2019)
        #print(temp_df)
        eighth_df = eighth_df.append(temp_df)

eighth_df['studentID'] = range(5001,7501)
eighth_df

,first_name,last_name,name,age,race,ELLStatus,grade,school,subject,teacher,year,studentID
0,Thomas,Collier,Thomas Collier,13,White,Yes,8,Burley Middle School,Language Arts,Leonard Patel,2019,5001
1,Joshua,Berry,Joshua Berry,13,White,No,8,Burley Middle School,Language Arts,Emily Sanchez,2019,5002
2,Russell,Silva,Russell Silva,14,White,No,8,Burley Middle School,Language Arts,Emily Sanchez,2019,5003
3,Daniel,Huffman,Daniel Huffman,13,White,No,8,Burley Middle School,Language Arts,Mario Harris,2019,5004
4,Kurt,Boyle,Kurt Boyle,12,Asian,No,8,Burley Middle School,Language Arts,Leonard Patel,2019,5005
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Joshua,Ray,Joshua Ray,13,White,No,8,Walton Middle School,Physical Science,Victor Trevino,2019,7496
96,Craig,Thompson,Craig Thompson,14,White,No,8,Walton Middle School,Physical Science,Tim Curry,2019,7497
97,Kevin,Stevens,Kevin Stevens,13,White,No,8,Walton Middle School,Physical Science,Tim Curry,2019,7498
98,Katelyn,Escobar,Katelyn Escobar,13,White,No,8,Walton Middle School,Physical Science,Erin Hayes,2019,7499
99,Cathy,Herrera,Cathy Herrera,12,White,No,8,Walton Middle School,Physical Science,Victor Trevino,2019,7500

In [82]:
# mother
# father
# course grading scale
# electives/honors?
# attendance?
# SOL score (pass/fail)?
# race coded into binary?
# socio-economic status represented how??

In [83]:
eighth_df.teacher.value_counts()

Michael Mcgee         46
Timothy Collins       42
Courtney Adams        41
Cristina Matthews     41
Peter Taylor          40
                      ..
Janet Bradford        26
Monica Atkinson       26
Vanessa Turner        25
Joshua Farley         25
Christina Gallegos    22
Name: teacher, Length: 75, dtype: int64

In [84]:
l = [0,9,9,6,4,3,2]

a = ['a', 'b', 'c', 'd']

max(a)

'd'

In [85]:

seventh2020 = seventh_df.copy()

In [86]:
seventh2020.first_name = sixth_df.first_name
seventh2020.last_name = sixth_df.last_name
seventh2020.name = sixth_df.name
seventh2020.age = sixth_df.age + 1
seventh2020.year = sixth_df.year + 1
seventh2020.race = sixth_df.race
seventh2020.studentID = sixth_df.studentID 
seventh2020.head(15)

,first_name,last_name,name,age,race,ELLStatus,grade,school,subject,teacher,year,studentID
0,Amanda,Anderson,Amanda Anderson,12,White,No,7,Burley Middle School,Language Arts,Timothy Pugh,2020,1
1,Michael,Wallace,Michael Wallace,13,White,No,7,Burley Middle School,Language Arts,Maria Molina,2020,2
2,Donald,Hill,Donald Hill,12,White,No,7,Burley Middle School,Language Arts,Maria Molina,2020,3
3,Kenneth,Davis,Kenneth Davis,13,White,No,7,Burley Middle School,Language Arts,Maria Molina,2020,4
4,Brianna,Fisher,Brianna Fisher,12,White,No,7,Burley Middle School,Language Arts,Rachel Cohen,2020,5
5,Jennifer,Atkins,Jennifer Atkins,11,White,No,7,Burley Middle School,Language Arts,Maria Molina,2020,6
6,Linda,Hernandez,Linda Hernandez,11,Hispanic,No,7,Burley Middle School,Language Arts,Rachel Cohen,2020,7
7,Kevin,Hoover,Kevin Hoover,12,White,No,7,Burley Middle School,Language Arts,Maria Molina,2020,8
8,William,Stevenson,William Stevenson,13,White,No,7,Burley Middle School,Language Arts,Rachel Cohen,2020,9
9,Caitlin,Zamora,Caitlin Zamora,13,Hispanic,No,7,Burley Middle School,Language Arts,Maria Molina,2020,10
10,John,Lawrence,John Lawrence,12,Asian,No,7,Burley Middle School,Language Arts,Rachel Cohen,2020,11
11,Steve,Roberson,Steve Roberson,12,White,No,7,Burley Middle School,Language Arts,Timothy Pugh,2020,12
12,Jeremy,Curtis,Jeremy Curtis,13,Hispanic,No,7,Burley Middle School,Language Arts,Timothy Pugh,2020,13
13,Michele,Smith,Michele Smith,13,Black/African American,No,7,Burley Middle School,Language Arts,Maria Molina,2020,14
14,Krista,Baker,Krista Baker,11,Black/African American,No,7,Burley Middle School,Language Arts,Timothy Pugh,2020,15

In [87]:
eighth2020 = eighth_df.copy()

eighth2020.first_name = seventh_df.first_name
eighth2020.last_name = seventh_df.last_name
eighth2020.name = seventh_df.name
eighth2020.age = seventh_df.age + 1
eighth2020.year = seventh_df.year + 1
eighth2020.race = seventh_df.race
eighth2020.studentID = seventh_df.studentID
eighth2020.head(15)

,first_name,last_name,name,age,race,ELLStatus,grade,school,subject,teacher,year,studentID
0,Courtney,Olson,Courtney Olson,14,White,Yes,8,Burley Middle School,Language Arts,Leonard Patel,2020,2501
1,Tammy,Riley,Tammy Riley,14,White,No,8,Burley Middle School,Language Arts,Emily Sanchez,2020,2502
2,Mary,Griffith,Mary Griffith,12,White,No,8,Burley Middle School,Language Arts,Emily Sanchez,2020,2503
3,Alyssa,Brock,Alyssa Brock,12,Asian,No,8,Burley Middle School,Language Arts,Mario Harris,2020,2504
4,John,Pena,John Pena,13,White,No,8,Burley Middle School,Language Arts,Leonard Patel,2020,2505
5,Denise,Cook,Denise Cook,13,Asian,No,8,Burley Middle School,Language Arts,Leonard Patel,2020,2506
6,Dana,Velez,Dana Velez,13,White,No,8,Burley Middle School,Language Arts,Emily Sanchez,2020,2507
7,Hailey,Jones,Hailey Jones,14,Hispanic,No,8,Burley Middle School,Language Arts,Leonard Patel,2020,2508
8,Brian,Martin,Brian Martin,14,White,No,8,Burley Middle School,Language Arts,Leonard Patel,2020,2509
9,Lisa,Brooks,Lisa Brooks,13,White,No,8,Burley Middle School,Language Arts,Leonard Patel,2020,2510
10,Mary,Jarvis,Mary Jarvis,12,Black/African American,No,8,Burley Middle School,Language Arts,Mario Harris,2020,2511
11,Amanda,Dixon,Amanda Dixon,13,Hispanic,No,8,Burley Middle School,Language Arts,Mario Harris,2020,2512
12,William,Moreno,William Moreno,14,Hispanic,No,8,Burley Middle School,Language Arts,Emily Sanchez,2020,2513
13,Cindy,Williams,Cindy Williams,12,White,No,8,Burley Middle School,Language Arts,Leonard Patel,2020,2514
14,Stacey,Harris,Stacey Harris,13,White,No,8,Burley Middle School,Language Arts,Leonard Patel,2020,2515

In [88]:
seventh_df.head(15)

,first_name,last_name,name,age,race,ELLStatus,grade,school,subject,teacher,year,studentID
0,Courtney,Olson,Courtney Olson,13,White,No,7,Burley Middle School,Language Arts,Timothy Pugh,2019,2501
1,Tammy,Riley,Tammy Riley,13,White,No,7,Burley Middle School,Language Arts,Maria Molina,2019,2502
2,Mary,Griffith,Mary Griffith,11,White,No,7,Burley Middle School,Language Arts,Maria Molina,2019,2503
3,Alyssa,Brock,Alyssa Brock,11,Asian,No,7,Burley Middle School,Language Arts,Maria Molina,2019,2504
4,John,Pena,John Pena,12,White,No,7,Burley Middle School,Language Arts,Rachel Cohen,2019,2505
5,Denise,Cook,Denise Cook,12,Asian,No,7,Burley Middle School,Language Arts,Maria Molina,2019,2506
6,Dana,Velez,Dana Velez,12,White,No,7,Burley Middle School,Language Arts,Rachel Cohen,2019,2507
7,Hailey,Jones,Hailey Jones,13,Hispanic,No,7,Burley Middle School,Language Arts,Maria Molina,2019,2508
8,Brian,Martin,Brian Martin,13,White,No,7,Burley Middle School,Language Arts,Rachel Cohen,2019,2509
9,Lisa,Brooks,Lisa Brooks,12,White,No,7,Burley Middle School,Language Arts,Maria Molina,2019,2510
10,Mary,Jarvis,Mary Jarvis,11,Black/African American,No,7,Burley Middle School,Language Arts,Rachel Cohen,2019,2511
11,Amanda,Dixon,Amanda Dixon,12,Hispanic,No,7,Burley Middle School,Language Arts,Timothy Pugh,2019,2512
12,William,Moreno,William Moreno,13,Hispanic,No,7,Burley Middle School,Language Arts,Timothy Pugh,2019,2513
13,Cindy,Williams,Cindy Williams,11,White,No,7,Burley Middle School,Language Arts,Maria Molina,2019,2514
14,Stacey,Harris,Stacey Harris,12,White,No,7,Burley Middle School,Language Arts,Timothy Pugh,2019,2515

In [89]:
sixth2020 = pd.DataFrame()

for school in middle_schools:
    for course in sixthCourses:
        data = [User(9, 11).__dict__ for i in range(100)]
        temp_df = pd.DataFrame(data)
        generate_data(temp_df, 6, school, course, 2020)
        #print(temp_df)
        sixth2020 = sixth2020.append(temp_df)
        
sixth2020['studentID'] = range(7501,10001)
sixth2020.teacher = sixth_df.teacher
sixth2020.head()

,first_name,last_name,name,age,race,ELLStatus,grade,school,subject,teacher,year,studentID
0,Michelle,Lee,Michelle Lee,11,Multi-racial,No,6,Burley Middle School,Language Arts,Roger Williams,2020,7501
1,Janet,Santana,Janet Santana,10,Hispanic,No,6,Burley Middle School,Language Arts,Roger Williams,2020,7502
2,Chelsea,Jones,Chelsea Jones,9,White,No,6,Burley Middle School,Language Arts,Joshua Moore,2020,7503
3,Matthew,Martinez,Matthew Martinez,9,White,No,6,Burley Middle School,Language Arts,Roger Williams,2020,7504
4,Cesar,Acevedo,Cesar Acevedo,11,White,No,6,Burley Middle School,Language Arts,Renee Harrison,2020,7505

In [90]:
sixth_df.to_csv('sixth2019.csv')
seventh_df.to_csv('seventh2019.csv')
eighth_df.to_csv('eighth2019.csv')
sixth2020.to_csv('sixth2020.csv')
seventh2020.to_csv('seventh2020.csv')
eighth2020.to_csv('eighth2020.csv')

## Attendance Data

In [91]:
attendancesixth2019 = pd.DataFrame()

In [92]:
# setting up date excused variable
import datetime
F = Faker()
start_date = datetime.date(year=2019, month=8, day=25)
end_date = datetime.date(year=2020, month=5, day=5)

# generate empty lists for dataframe
absentlist = []
datelist = []
excusedlist = []
courselist = []

# creating lists for dataframe
for i in range(1000):
    absentlist.append(random.choice(list(sixth_df.studentID)))
    datelist.append(F.date_between(start_date=start_date, end_date=end_date))
    excusedlist.append(random.choice(['Excused', 'Unexcused']))
    courselist.append(random.choice(sixthCourses))

In [93]:
# appending lists to dataframe
attendancesixth2019["studentID"] = absentlist
attendancesixth2019["date"] = datelist
attendancesixth2019["excused"] = excusedlist
attendancesixth2019["period"] = courselist

In [94]:
attendancesixth2019

     studentID        date    excused                     period
0          374  2019-11-03  Unexcused                    Science
1         2310  2019-12-31  Unexcused                    Science
2         2345  2019-09-27  Unexcused                Mathematics
3         1571  2019-08-29    Excused                    Science
4         1284  2019-10-11    Excused                Mathematics
..         ...         ...        ...                        ...
995          3  2019-11-07    Excused                    Science
996       2428  2020-03-03    Excused                    Science
997       2220  2020-04-04  Unexcused  Health/Physical Education
998       1865  2019-10-20    Excused                    Science
999         13  2019-11-19  Unexcused                    Science

[1000 rows x 4 columns]

In [95]:
attendancesixth2019.to_csv('attendance2019.csv')

In [96]:
attendanceseventh2020 = pd.DataFrame()

import datetime
F = Faker()
start_date = datetime.date(year=2020, month=8, day=25)
end_date = datetime.date(year=2021, month=5, day=5)

# generate empty lists for dataframe
absentlist2 = []
datelist = []
excusedlist = []
courselist = []

# creating lists for dataframe
for i in range(1000):
    absentlist2.append(random.choice(list(sixth_df.studentID)))
    datelist.append(F.date_between(start_date=start_date, end_date=end_date))
    excusedlist.append(random.choice(['Excused', 'Unexcused']))
    courselist.append(random.choice(seventhCourses))
    
attendanceseventh2020["studentID"] = absentlist2
attendanceseventh2020["date"] = datelist
attendanceseventh2020["excused"] = excusedlist
attendanceseventh2020["period"] = courselist

attendanceseventh2020.to_csv('attendance2020.csv')

## Discipline Data

In [97]:
# setting up date excused variable
import datetime
F = Faker()
start_date = datetime.date(year=2019, month=8, day=25)
end_date = datetime.date(year=2020, month=5, day=5)

# generate empty lists for dataframe
studentlist = []
datelist = []
suspendedlist = []

# creating lists for dataframe
for i in range(100):
    studentlist.append(random.choice(absentlist))
    datelist.append(F.date_between(start_date=start_date, end_date=end_date))
    yesNo = random.choices(['Yes', 'No'], weights=[.1,.9])[0]
    suspendedlist.append(yesNo)

In [98]:
suspendedsixth2019 = pd.DataFrame()

In [99]:
# appending lists to dataframe
suspendedsixth2019["studentID"] = studentlist
suspendedsixth2019["date"] = datelist
suspendedsixth2019["suspended"] = suspendedlist

In [100]:
suspendedsixth2019

    studentID        date suspended
0        2199  2019-10-30        No
1        1576  2020-04-16        No
2         705  2019-08-30        No
3         553  2019-11-23        No
4         714  2020-01-19        No
..        ...         ...       ...
95        955  2020-01-23       Yes
96       2073  2020-03-05        No
97       2325  2019-10-03        No
98       1316  2020-04-03        No
99       2108  2019-09-12        No

[100 rows x 3 columns]

In [101]:
suspendedsixth2019.to_csv('suspended2019.csv')

In [102]:
import datetime
F = Faker()
start_date = datetime.date(year=2020, month=8, day=25)
end_date = datetime.date(year=2021, month=5, day=5)

# generate empty lists for dataframe
studentlist = []
datelist = []
suspendedlist = []

# creating lists for dataframe
for i in range(100):
    studentlist.append(random.choice(absentlist2))
    datelist.append(F.date_between(start_date=start_date, end_date=end_date))
    yesNo = random.choices(['Yes', 'No'], weights=[.1,.9])[0]
    suspendedlist.append(yesNo)
    
suspendedseventh2020 = pd.DataFrame()

suspendedseventh2020["studentID"] = studentlist
suspendedseventh2020["date"] = datelist
suspendedseventh2020["suspended"] = suspendedlist

suspendedseventh2020.to_csv('suspended2020.csv')

In [103]:
!pwd

/Users/gracebrickley/Desktop/Capstone/Fake Data

In [104]:

allData = ((((sixth_df.append(seventh_df)).append(eighth_df)).append(sixth2020)).append(seventh2020)).append(eighth2020)
allData

,first_name,last_name,name,age,race,ELLStatus,grade,school,subject,teacher,year,studentID
0,Amanda,Anderson,Amanda Anderson,11,White,Yes,6,Burley Middle School,Language Arts,Roger Williams,2019,1
1,Michael,Wallace,Michael Wallace,12,White,No,6,Burley Middle School,Language Arts,Roger Williams,2019,2
2,Donald,Hill,Donald Hill,11,White,No,6,Burley Middle School,Language Arts,Joshua Moore,2019,3
3,Kenneth,Davis,Kenneth Davis,12,White,No,6,Burley Middle School,Language Arts,Roger Williams,2019,4
4,Brianna,Fisher,Brianna Fisher,11,White,Yes,6,Burley Middle School,Language Arts,Renee Harrison,2019,5
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Michelle,Moore,Michelle Moore,13,Black/African American,No,8,Walton Middle School,Physical Science,Victor Trevino,2020,4996
96,Ronald,Allen,Ronald Allen,12,Multi-racial,No,8,Walton Middle School,Physical Science,Tim Curry,2020,4997
97,Anna,Pace,Anna Pace,14,White,No,8,Walton Middle School,Physical Science,Tim Curry,2020,4998
98,Brian,Hodges,Brian Hodges,13,White,No,8,Walton Middle School,Physical Science,Erin Hayes,2020,4999
99,Alexis,Pope,Alexis Pope,13,White,No,8,Walton Middle School,Physical Science,Victor Trevino,2020,5000

In [105]:
print(middle_schools)

['Burley Middle School', 'Henley Middle School', 'Jouett Middle School', 'Lakeside Middle School', 'Walton Middle School']

In [106]:
allData.to_csv('studentData.csv')

# NEED TO CHANGE ALL OF THESE ROW REFERENCES

In [107]:

teachers = []

for index, row in allData.iterrows():
    if [row[9], row[8], row[7], row[6]] not in teachers:
        teachers.append([row[9], row[8], row[7], row[6]])
len(teachers)

225

In [108]:

teacherData = pd.DataFrame(teachers, columns=['name', 'course', 'middleSchool', 'grade'])
teacherData['teacherID'] = range(1,226)

In [109]:
teacherData

               name            course          middleSchool  grade  teacherID
0    Roger Williams     Language Arts  Burley Middle School      6          1
1      Joshua Moore     Language Arts  Burley Middle School      6          2
2    Renee Harrison     Language Arts  Burley Middle School      6          3
3    Brandon Taylor    Social Studies  Burley Middle School      6          4
4         John Dean    Social Studies  Burley Middle School      6          5
..              ...               ...                   ...    ...        ...
220  Vanessa Turner       Mathematics  Walton Middle School      8        221
221     David Henry       Mathematics  Walton Middle School      8        222
222      Erin Hayes  Physical Science  Walton Middle School      8        223
223  Victor Trevino  Physical Science  Walton Middle School      8        224
224       Tim Curry  Physical Science  Walton Middle School      8        225

[225 rows x 5 columns]

In [110]:
teacherData.grade.value_counts()

6    75
7    75
8    75
Name: grade, dtype: int64

In [111]:
teacherData.to_csv('teacherData.csv')